.site-title {
	@apply font-bold uppercase;
}

.custom-logo {
	max-height: 75px;
	width: auto;
	margin: 0 auto;
}

.site-header {
	@apply pb-4 md:absolute md:top-0 md:left-0 md:right-0 md:z-20 md:pt-8 md:pb-0;
}

@media(max-width: theme('screens.md')) {
	.custom-logo {
		margin-top: 10px;
		max-height: 35px;
	}
}
